<nav class="mat-elevation-z2 layout">
  <span class="match-parent">
    <div id="logo">
      <img class="d-inline-block" src="../assets/images/fit_nest_icon_full.svg">
    </div>
  </span>

  <span *ngIf="showNavButtons">
    <button mat-button [routerLink]="getChallengeRoute()">{{'NAV.CHALLENGE' | translate}}</button>
    <button id="btn-admin" mat-button  *ngIf="showAdminIcon()" [routerLink]="getSettingsRoute()"><mat-icon id="icon-main">settings</mat-icon></button>
    <button id="btn-user" mat-button [matMenuTriggerFor]="userMenu"><img src="{{getUserProfileImage()}}"><mat-icon>arrow_drop_down</mat-icon></button>
  </span>
</nav>

<mat-menu #userMenu="matMenu"
          xPosition="before"
          [overlapTrigger]="false">
  <button mat-menu-item (click)="logout()">{{'NAV.LOGOUT' | translate}}</button>
</mat-menu>
