<app-nav></app-nav>

<div class="container">
  <div id="wrapper-challenge-title" class="row">
    <div class="col align-items-baseline">
      <h3>{{'CHALLENGE.TITLE.ACTIVE' | translate}}</h3>
    </div>

    <div *ngIf="isAllowedToAddChallenge()" class="d-flex justify-content-end">
      <button mat-raised-button
              color="primary"
              (click)="openDialogToAddChallenge(null)"><mat-icon>add</mat-icon>{{'CHALLENGE.ADD' | translate}}</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-card>
        <div *ngFor="let challenge of activeChallenges; let i = index">
          <app-challenge-list-item [challenge]="challenge" (adminEditChallenge)="openDialogToAddChallenge($event)" (userEditChallenge)="openChallengePage(challenge)"></app-challenge-list-item>
        </div>
      </mat-card>
    </div>
  </div>

  <div *ngIf="hasInactiveChallenges()">
    <div class="row">
      <h6 class="col">{{'CHALLENGE.TITLE.INACTIVE' | translate}}</h6>
    </div>

    <div class="row">
      <div class="col">
        <mat-card>
          <div *ngFor="let challenge of inactiveChallenges">
            <app-challenge-list-item [challenge]="challenge" (adminEditChallenge)="openDialogToAddChallenge($event)" (userEditChallenge)="openChallengePage(challenge)"></app-challenge-list-item>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
