<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col align-items-baseline">
      <h3>{{'CHALLENGE.TITLE' | translate}}</h3>
    </div>

    <div *ngIf="isAllowedToAddChallenge()" class="d-flex justify-content-end">
      <button mat-raised-button
              color="primary"
              (click)="openDialogToAddChallenge(null, null)"><mat-icon>add</mat-icon>{{'CHALLENGE.ADD' | translate}}</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12" *ngFor="let challenge of challenges; let i = index">
      <app-challenge-list-item [challenge]="challenge" (click)="openDialogToAddChallenge(i, challenge)"></app-challenge-list-item>
    </div>
  </div>
</div>
