<form [formGroup]="challengeForm">
  <div class="layout">
    <h4>{{getDialogTitleKey() | translate}}</h4>
    <div id="progress">
      <app-progress [showProgress]="loading"></app-progress>
    </div>
  </div>
  <p *ngIf="error" class="error transition">{{'CHALLENGE.SAVE_ERROR' | translate}}</p>

  <div>
    <mat-form-field>
      <input matInput placeholder="{{'CHALLENGE.NAME' | translate}}" (change)="setName($event.currentTarget.value)" [value]="getName()" formControlName="name">
      <mat-error>{{'CHALLENGE.NAME_REQUIRED' | translate}}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input matInput [matDatepicker]="dateStart" placeholder="{{'CHALLENGE.START_DATE' | translate}}" [value]="getStartDate()" (dateChange)="setStartDate($event.value)" formControlName="dateStart">
    <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
    <mat-datepicker #dateStart></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="dateEnd" placeholder="{{'CHALLENGE.END_DATE' | translate}}" [value]="getEndDate()" (dateChange)="setEndDate($event.value)"formControlName="dateEnd">
    <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
    <mat-datepicker #dateEnd></mat-datepicker>
  </mat-form-field>

  <mat-dialog-actions class="float-right">
    <button mat-button
            (click)="deleteChallenge()">{{'DIALOG.DELETE' | translate}}</button>
    <button mat-button
            (click)="saveChallenge()">{{'DIALOG.SAVE' | translate}}</button>
  </mat-dialog-actions>
</form>
