// -----------------------------------
// ----------- Main colors -----------
// -----------------------------------

$color-main-xx-light: #A3B4BB
$color-main-x-light: #758E9A
$color-main-light: #476978
$color-main: #1A4457
$color-main-dark: #143645

$color-secondary-light: #7ABDDB
$color-secondary: #59ADD3
$color-secondary-dark: #478AA8

$color-third-light: #D7ECF5
$color-third: #CEE8F3
$color-third-dark: #A4B9C2

$color-accent-light: #56C48F
$color-accent: #2CB673
$color-accent-dark: #23915C

$color-grey-light-xxx: #FBFBFB
$color-grey-light-xx: #EEEEEF
$color-grey-light-x: #DEDEDF
$color-grey-light: #7B7D7E
$color-grey: #5B5D5F
$color-grey-dark: #484A4C

// -----------------------------------
// ---------- Other colors -----------
// -----------------------------------

$color-disabled: #9E9E9E

$color-error: #F44336
$color-error-dark: #B70000

$color-text: $color-grey
$color-background: #FFF
$color-background-dark: #F5F5F5

$color-list-item-header: $color-grey-light-x
