// Theme created with: http://mcg.mbitson.com/#!?main=%233b8dbf&secondary=%2377bdd9&third=%23e3dcb4&accent=%23f28444&themename=mcgtheme
$md-main: (
  50 : #e7f1f7,
  100 : #c4ddec,
  200 : #9dc6df,
  300 : #76afd2,
  400 : #589ec9,
  500 : #3b8dbf,
  600 : #3585b9,
  700 : #2d7ab1,
  800 : #2670a9,
  900 : #195d9b,
  A100 : #d1e8ff,
  A200 : #9eceff,
  A400 : #6bb4ff,
  A700 : #52a7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-secondary: (
  50 : #eff7fa,
  100 : #d6ebf4,
  200 : #bbdeec,
  300 : #a0d1e4,
  400 : #8bc7df,
  500 : #77bdd9,
  600 : #6fb7d5,
  700 : #64aecf,
  800 : #5aa6ca,
  900 : #4798c0,
  A100 : #ffffff,
  A200 : #e5f6ff,
  A400 : #b2e5ff,
  A700 : #98dcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-third: (
  50 : #fcfbf6,
  100 : #f7f5e9,
  200 : #f1eeda,
  300 : #ebe7cb,
  400 : #e7e1bf,
  500 : #e3dcb4,
  600 : #e0d8ad,
  700 : #dcd3a4,
  800 : #d8ce9c,
  900 : #d0c58c,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fffffe,
  A700 : #fffae5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #fdf0e9,
  100 : #fbdac7,
  200 : #f9c2a2,
  300 : #f6a97c,
  400 : #f49660,
  500 : #f28444,
  600 : #f07c3e,
  700 : #ee7135,
  800 : #ec672d,
  900 : #e8541f,
  A100 : #ffffff,
  A200 : #fff0eb,
  A400 : #ffc9b8,
  A700 : #ffb69f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
