@import "../../../../../styles/integer"

button mat-icon
  font-size: $font-medium

#content:hover
  background: rgba(0, 0, 0, .04)
  cursor: pointer

#content
  padding: $margin-normal

  p
    margin-bottom: 0

#dates
  text-align: right

  p
    display: inline-block
    margin-bottom: 0
    font-size: $font-normal
