@import "../../../../../styles/integer"

mat-card:hover
  background: rgba(0, 0, 0, .04)
  cursor: pointer

mat-card
  margin-bottom: 0 !important

  p
    display: inline

#dates p
  display: inline-block
  margin-bottom: 0
  font-size: $font-normal
