@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import "~bootstrap/dist/css/bootstrap.css"

@import "styles/integer"
@import "styles/color"

button:focus
  outline: none

.mat-dialog-container
  padding: 0 !important

.center
  margin-left: auto
  margin-right: auto

.right
  float: right

.layout
  display: flex

.match-parent
  flex: 1
